* {
  font-family: 'Bebas Neue', cursive;
}

header {
  border-bottom: 1px solid #ccc;
  background-color: black;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 100%;
  font-family: 'Abril Fatface', cursive;
}

.no-button:hover {
  color: white;
  text-decoration: none;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#main-title {
  font-size: 2.8rem;
  font-family: 'Abril Fatface', cursive;
}

.nav-links {
  text-decoration: none;
  color: white;
  font-family: 'Abril Fatface', cursive;
}

.nav-links:hover {
  color: white;
  text-decoration: none;
}

#main-top {
  background-color: #e4f1ff;
  border-radius: 15px;
}

#main-bottom-part {
  margin-top: 50px;
}

.main-desc {
  font-family: 'Abril Fatface', cursive;
  font-size: 35px;
}

.main-desc-2 {
  font-family: Arial, Helvetica, sans-serif;
}

#ing-title {
  font-size: 60px;
  color: steelblue; 
  font-style:oblique;
  font-family: 'Caveat', cursive;
}

.main-ing-title {
  font-size: 50px;
}

p {
  font-size: 25px;
}

.featued-title {
  text-align: center;
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
}

#info-title {
  font-size: 80px;
  color: steelblue; 
  font-style:oblique;
  font-family: 'Caveat', cursive;
}

#info-desc {
  overflow: auto;
}

.login-title {
  font-family: 'Abril Fatface', cursive;
}

.profile-title {
  font-family: 'Abril Fatface', cursive;
}

#project-names {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  color: steelblue; 
}

.btn {
  color: black;
}

.main-footer {
  background-color: black;
  bottom: 0;
  position: absolute;
  height: 2.5rem; 
  width: 100%;
}

.footer-text {
  color: white;
  text-align: center;
}

.info-titles {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
}

#food-img {
  margin-top: 10px;
  margin-bottom: 10px;
}