* {
  font-family: 'Bebas Neue', cursive;
}

header {
  border-bottom: 1px solid #ccc;
  background-color: black;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 100%;
  font-family: 'Abril Fatface', cursive;
}

.no-button:hover {
  color: white;
  text-decoration: none;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#main-title {
  font-size: 2.7rem;
  font-family: 'Abril Fatface', cursive;
}

.nav-links {
  text-decoration: none;
  color: white;
  font-family: 'Abril Fatface', cursive;
}

.nav-links:hover {
  color: white;
  text-decoration: none;
}

.top-part{
  background-image: url(../assets/pinboard.jpeg);
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-position: center;
  
}

.top-part-text {
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
  font-size: 70px;
  padding: 150px;
  background-size: 80% 100%;
  font-weight: 900;
}


#ing-title {
  font-size: 60px;
  color: steelblue; 
  font-style:oblique;
  font-family: 'Caveat', cursive;
}

.main-ing-title {
  font-size: 50px;
}

p {
  font-size: 25px;
}

.featued-title {
  text-align: center;
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
}

#info-title {
  font-size: 80px;
  color: steelblue; 
  font-style:oblique;
  font-family: 'Caveat', cursive;
}

#info-desc {
  overflow: auto;
}

.login-title {
  font-family: 'Abril Fatface', cursive;
}

.profile-title {
  font-family: 'Abril Fatface', cursive;
}

#project-names {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  color: steelblue; 
}

.btn {
  color: black;
}

.main-footer {
  background-color: black;
  bottom: 0;
  position: absolute;
  height: 2.5rem; 
  width: 100%;
}

.footer-text {
  color: white;
  text-align: center;
}

